---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"locations":[{"id":341332,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[32.829002,-96.748154],"latitude":32.829002,"longitude":-96.748154,"ip_address":"","created_at":"Fri,
        28 Nov 2014 11:30:09 -0600","updated_at":"Sat, 29 Nov 2014 09:29:11 -0600","is_deleted":false,"radius":100},{"id":341722,"account_id":193849,"is_default":0,"name":"Religious
        Operations","sort":0,"max_hours":0,"address":"3101 Wisconsin Ave NW, Washington,
        DC 20016","coordinates":[],"latitude":0,"longitude":0,"ip_address":"","created_at":"Sat,
        29 Nov 2014 03:29:11 -0600","updated_at":"Sat, 29 Nov 2014 09:29:12 -0600","is_deleted":false}]}'
  recorded_at: Sat, 29 Nov 2014 15:30:43 GMT
- request:
    method: delete
    uri: https://api.wheniwork.com/2/locations/341332
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 29 Nov 2014 15:30:44 GMT
- request:
    method: put
    uri: https://api.wheniwork.com/2/locations/341722
    body:
      encoding: UTF-8
      string: '{"name":"New York Headquarters (Empire State Building)","address":"350
        5th Ave, New York, NY 10118","coordinates":[32.829001,-96.748154]}'
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"location":{"id":341722,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[32.829001,-96.748154],"latitude":32.829001,"longitude":-96.748154,"ip_address":"","created_at":"Sat,
        29 Nov 2014 03:29:11 -0600","updated_at":"Sat, 29 Nov 2014 09:30:44 -0600","is_deleted":false,"radius":100}}'
  recorded_at: Sat, 29 Nov 2014 15:30:44 GMT
[...]
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"locations":[{"id":341722,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[32.829002,-96.748154],"latitude":32.829002,"longitude":-96.748154,"ip_address":"","created_at":"Sat,
        29 Nov 2014 03:29:11 -0600","updated_at":"Sat, 29 Nov 2014 09:30:44 -0600","is_deleted":false,"radius":100},{"id":341728,"account_id":193849,"is_default":0,"name":"Religious
        Operations","sort":0,"max_hours":0,"address":"3101 Wisconsin Ave NW, Washington,
        DC 20016","coordinates":[],"latitude":0,"longitude":0,"ip_address":"","created_at":"Sat,
        29 Nov 2014 03:30:44 -0600","updated_at":"Sat, 29 Nov 2014 09:30:45 -0600","is_deleted":false}]}'
  recorded_at: Sat, 29 Nov 2014 15:30:46 GMT
recorded_with: VCR 2.9.3
