---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"error":"No location found","code":"4003"}'
  recorded_at: Thu, 04 Dec 2014 23:47:59 GMT
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"locations":[{"id":343075,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[40.748238,-73.985184],"latitude":40.748238,"longitude":-73.985184,"ip_address":"","created_at":"Sun,
        30 Nov 2014 13:21:31 -0600","updated_at":"Thu, 04 Dec 2014 17:31:03 -0600","is_deleted":false,"radius":100}]}'
  recorded_at: Thu, 04 Dec 2014 23:47:59 GMT
- request:
    method: put
    uri: https://api.wheniwork.com/2/locations/343075
    body:
      encoding: UTF-8
      string: '{"name":"New York Headquarters (Empire State Building)","address":"350
        5th Ave, New York, NY 10118","coordinates":[40.748238,-73.985184]}'
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"location":{"id":343075,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[40.748238,-73.985184],"latitude":40.748238,"longitude":-73.985184,"ip_address":"","created_at":"Sun,
        30 Nov 2014 13:21:31 -0600","updated_at":"Thu, 04 Dec 2014 17:48:00 -0600","is_deleted":false,"radius":100}}'
  recorded_at: Thu, 04 Dec 2014 23:48:00 GMT
[...]
- request:
    method: delete
    uri: https://api.wheniwork.com/2/locations/350137
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Thu, 04 Dec 2014 23:48:02 GMT
[...]
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"locations":[{"id":343075,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[40.748238,-73.985184],"latitude":40.748238,"longitude":-73.985184,"ip_address":"","created_at":"Sun,
        30 Nov 2014 13:21:31 -0600","updated_at":"Thu, 04 Dec 2014 17:48:00 -0600","is_deleted":false,"radius":100}]}'
  recorded_at: Thu, 04 Dec 2014 23:48:03 GMT
recorded_with: VCR 2.9.3
