---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"error":"No location found","code":"4003"}'
  recorded_at: Sat, 29 Nov 2014 19:32:13 GMT
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '98'
    body:
      encoding: UTF-8
      string: '{"locations":[{"id":341797,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[32.829002,-96.748154],"latitude":32.829002,"longitude":-96.748154,"ip_address":"","created_at":"Sat,
        29 Nov 2014 05:21:39 -0600","updated_at":"Sat, 29 Nov 2014 13:28:00 -0600","is_deleted":false,"radius":100}]}'
  recorded_at: Sat, 29 Nov 2014 19:32:13 GMT
- request:
    method: put
    uri: https://api.wheniwork.com/2/locations/341797
    body:
      encoding: UTF-8
      string: '{"name":"New York Headquarters (Empire State Building)","address":"350
        5th Ave, New York, NY 10118","coordinates":[32.829001,-96.748154]}'
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"location":{"id":341797,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[32.829001,-96.748154],"latitude":32.829001,"longitude":-96.748154,"ip_address":"","created_at":"Sat,
        29 Nov 2014 05:21:39 -0600","updated_at":"Sat, 29 Nov 2014 13:32:14 -0600","is_deleted":false,"radius":100}}'
  recorded_at: Sat, 29 Nov 2014 19:32:14 GMT
[...]
- request:
    method: delete
    uri: https://api.wheniwork.com/2/locations/341932
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 29 Nov 2014 19:32:16 GMT
[...]
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '98'
    body:
      encoding: UTF-8
      string: '{"locations":[{"id":341797,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[32.829002,-96.748154],"latitude":32.829002,"longitude":-96.748154,"ip_address":"","created_at":"Sat,
        29 Nov 2014 05:21:39 -0600","updated_at":"Sat, 29 Nov 2014 13:32:14 -0600","is_deleted":false,"radius":100}]}'
  recorded_at: Sat, 29 Nov 2014 19:32:17 GMT
recorded_with: VCR 2.9.3
