---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"error":"No location found","code":"4003"}'
  recorded_at: Fri, 05 Dec 2014 23:17:10 GMT
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"locations":[{"id":343075,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[40.748238,-73.985184],"latitude":40.748238,"longitude":-73.985184,"ip_address":"","created_at":"Sun,
        30 Nov 2014 13:21:31 -0600","updated_at":"Thu, 04 Dec 2014 17:48:00 -0600","is_deleted":false,"radius":100}]}'
  recorded_at: Fri, 05 Dec 2014 23:17:11 GMT
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts/?end=2015-12-05&include_allopen=true&location_id=343075&start=2013-12-05&unpublished=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"start":"Thu, 05 Dec 2013 00:00:00 -0600","end":"Sat, 05 Dec 2015
        00:00:00 -0600","shifts":[{"id":82760180,"account_id":193849,"user_id":0,"location_id":343075,"position_id":0,"site_id":0,"start_time":"Fri,
        05 Dec 2014 08:00:00 -0600","end_time":"Fri, 05 Dec 2014 12:00:00 -0600","break_time":0,"color":"cccccc","notes":"Shift
        0\/8","alerted":false,"linked_users":null,"shiftchain_key":"","published":false,"published_date":"Tue,
        29 Nov -001 18:00:00 -0600","notified_at":"Tue, 29 Nov -001 18:00:00 -0600","instances":1,"created_at":"Fri,
        05 Dec 2014 17:16:05 -0600","updated_at":"Fri, 05 Dec 2014 17:16:05 -0600","acknowledged":0,"is_open":true,"actionable":false,"block_id":0},{"id":82760240,"account_id":193849,"user_id":0,"location_id":343075,"position_id":0,"site_id":0,"start_time":"Fri,
        05 Dec 2014 13:00:00 -0600","end_time":"Fri, 05 Dec 2014 17:00:00 -0600","break_time":0,"color":"cccccc","notes":"Shift
        0\/13","alerted":false,"linked_users":null,"shiftchain_key":"","published":true,"published_date":"Fri,
        05 Dec 2014 17:16:24 -0600","notified_at":"Tue, 29 Nov -001 18:00:00 -0600","instances":1,"created_at":"Fri,
        05 Dec 2014 17:16:[...]
- request:
    method: delete
    uri: https://api.wheniwork.com/2/shifts/82760180
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 05 Dec 2014 23:17:14 GMT
[...]
- request:
    method: post
    uri: https://api.wheniwork.com/2/shifts
    body:
      encoding: UTF-8
      string: '{"location_id":343075,"start_time":"2014-12-05 08:00:00 -0600","end_time":"2014-12-05
        12:00:00 -0600","notes":"Shift 0/8"}'
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"shift":{"id":82760789,"account_id":193849,"user_id":0,"location_id":343075,"position_id":0,"site_id":0,"start_time":"Fri,
        05 Dec 2014 08:00:00 -0600","end_time":"Fri, 05 Dec 2014 12:00:00 -0600","break_time":0,"color":"cccccc","notes":"Shift
        0\/8","alerted":false,"linked_users":null,"shiftchain_key":"","published":false,"published_date":"Tue,
        29 Nov -001 18:00:00 -0600","notified_at":"Tue, 29 Nov -001 18:00:00 -0600","instances":1,"created_at":"Fri,
        05 Dec 2014 17:17:28 -0600","updated_at":"Fri, 05 Dec 2014 17:17:28 -0600","acknowledged":0,"is_open":true,"actionable":false,"block_id":0}}'
  recorded_at: Fri, 05 Dec 2014 23:17:28 GMT
[...]
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts/?end=2015-12-05&include_allopen=true&location_id=343075&start=2013-12-05&unpublished=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"start":"Thu, 05 Dec 2013 00:00:00 -0600","end":"Sat, 05 Dec 2015
        00:00:00 -0600","shifts":[]}'
  recorded_at: Fri, 05 Dec 2014 23:17:42 GMT
[...]
- request:
    method: post
    uri: https://api.wheniwork.com/2/shifts/publish
    body:
      encoding: UTF-8
      string: '{"ids":[82760798,82760801]}'
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 05 Dec 2014 23:17:45 GMT
[...]
- request:
    method: post
    uri: https://api.wheniwork.com/2/shifts/unpublish
    body:
      encoding: UTF-8
      string: '{"ids":[82760804]}'
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 05 Dec 2014 23:17:49 GMT
[...]
