---
http_interactions:
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"error":"No location found","code":"4003"}'
  recorded_at: Mon, 01 Dec 2014 22:04:32 GMT
- request:
    method: get
    uri: https://api.wheniwork.com/2/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"locations":[{"id":343075,"account_id":193849,"is_default":0,"name":"New
        York Headquarters (Empire State Building)","sort":0,"max_hours":0,"address":"350
        5th Ave, New York, NY 10118","coordinates":[40.748238,-73.985184],"latitude":40.748238,"longitude":-73.985184,"ip_address":"","created_at":"Sun,
        30 Nov 2014 13:21:31 -0600","updated_at":"Mon, 01 Dec 2014 16:04:23 -0600","is_deleted":false,"radius":100}]}'
  recorded_at: Mon, 01 Dec 2014 22:04:32 GMT
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts?end=2014-12-08%2000:00:00%20-0600&location_id=343075&start=2014-12-01%2000:00:00%20-0600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"start":"Mon, 01 Dec 2014 00:00:00 -0600","end":"Mon, 08 Dec 2014
        00:00:00 -0600","shifts":[]}'
  recorded_at: Mon, 01 Dec 2014 22:04:33 GMT
[...]
- request:
    method: post
    uri: https://api.wheniwork.com/2/shifts
    body:
      encoding: UTF-8
      string: '{"location_id":343075,"start_time":"2014-12-01 08:00:00 -0600","end_time":"2014-12-01
        12:00:00 -0600","notes":"Shift 0/8"}'
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"shift":{"id":81189691,"account_id":193849,"user_id":0,"location_id":343075,"position_id":0,"site_id":0,"start_time":"Mon,
        01 Dec 2014 08:00:00 -0600","end_time":"Mon, 01 Dec 2014 12:00:00 -0600","break_time":0,"color":"cccccc","notes":"Shift
        0\/8","alerted":false,"linked_users":null,"shiftchain_key":"","published":false,"published_date":"Tue,
        29 Nov -001 18:00:00 -0600","notified_at":"Tue, 29 Nov -001 18:00:00 -0600","instances":1,"created_at":"Mon,
        01 Dec 2014 16:04:35 -0600","updated_at":"Mon, 01 Dec 2014 16:04:35 -0600","acknowledged":0,"is_open":true,"actionable":false,"block_id":0}}'
  recorded_at: Mon, 01 Dec 2014 22:04:35 GMT
[...]
- request:
    method: get
    uri: https://api.wheniwork.com/2/shifts?end=2014-12-08%2000:00:00%20-0600&location_id=343075&start=2014-12-01%2000:00:00%20-0600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      W-Token:
      - a822bf37a7c6597a2a0d5d1a83838aac31715a5f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      W-Limit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"start":"Mon, 01 Dec 2014 00:00:00 -0600","end":"Mon, 08 Dec 2014
        00:00:00 -0600","shifts":[]}'
  recorded_at: Mon, 01 Dec 2014 22:04:47 GMT
recorded_with: VCR 2.9.3
